@model PagedList.IPagedList<InventoryManagementsystem.Product>
@using PagedList.Mvc


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Product", "Create")
</p>

@using (Html.BeginForm())
{
    <table>
    <tr>
        <th>@Html.DisplayName("Search by Product Name")</th>
        <td>@Html.TextBox("searchProduct")</td>
        <td> <input type="submit" value="Search" /></td>
       
        <th>@Html.DisplayName("Search by category")</th>
        <td>@Html.TextBox("searchByCategory")</td>
        <td> <input type="submit" value="Search" /></td>
    </tr>
    </table>
}

<br />
<table class="container">
    <tr class="row">
        <th class="col p-3 ">
            @Html.DisplayName("Product Name")
        </th>
        <th class="col p-3 ">
            @Html.DisplayName("Description")
        </th>
        <th class="col p-3 ">
            @Html.DisplayName("Category")
        </th>
        <th class="col p-3 ">
            @Html.DisplayName("Inventory")
        </th>
        <th class="col p-3 ">       
            @Html.ActionLink("Price (in $)","Index",
            new { sortOrder=ViewBag.priceOrder , searchByCategory=ViewBag.searchByCategory,
            searchProduct= ViewBag.searchProduct })
        </th>
        <th class="col p-3 ">
            @Html.DisplayName("Discount")
        </th>
        <th class="col p-3">
            @Html.DisplayName("Available actions")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="row">
            <td class="col p-3 ">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="col p-3 ">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td class="col p-3 ">
                @Html.DisplayFor(modelItem => item.Product_Category.Name)
            </td>
            <td class="col p-3 ">
                @Html.DisplayFor(modelItem => item.Product_Inventory.Name)
            </td>
            <td class="col p-3 ">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td class="col p-3 ">
                @Html.DisplayFor(modelItem => item.ProductDiscount.DiscountName)
            </td>

            <td class="col p-2 ">
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
            </td>
        </tr>
    }
</table>
<br />

Page @(Model.PageCount < Model.PageNumber ?0:Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page,sortOrder = ViewBag.priceOrder }), PagedListRenderOptions.ClassicPlusFirstAndLast)



